## Python loops, lists and Conditions

1.We are having 3 list like this

Colors = [“Yellow”,”Green”,”White”,”Black”]

Fruits=[“Apple”,”Papaya”,”Mango”,”Orange”]

Animals=[“Tiger”,”Lion”,”Deer”,”Zebra”]

i. Write a program that asks user to enter a Color/Fruit/Animal name and it should tell which category belongs to , like its is a fruit or color or Animal

In [1]:

Colors = ['Yellow', 'Green', 'White', 'Black']
Fruits = ['Apple', 'Papaya', 'Mango', 'Orange']
Animals = ['Tiger', 'Lion', 'Deer', 'Zebra']
name = input('Enter the name of color/fruit/animal name: ')

if name in Colors:
  Category = 'Color'
elif name in Fruits:
  Category = 'Fruit'
elif name in Animals:
  Category = 'Animal'
else:
  Category = 'null'
  
print('Category: ', Category)

Enter the name of color/fruit/animal name: Papaya
Category:  Fruit

2. Write a program that asks user to enter two items and it tells you if they both are in same category or not. For example if I enter yellow and Black, it will print "Both are colors" but if I enter yellow and Tiger it should print "They don't belong to same category"

In [3]:
name_1=input('enter 1st name : ')
name_2=input('enter 2nd name : ')

if name_1 in Colors and name_2 in Colors:
 category='both are Colors'
elif name_1 in Fruits and name_2 in Fruits:
 category='both are Fruits'
elif name_1 in Animals and name_2 in Animals:
 category ='both are Animals'
else:
 category='They donot belong to same category'
 
print('category:',category)

enter 1st name : Zebra
enter 2nd name : Apple
category: They donot belong to same category


3. Write a python program that can tell you if your grade score good or not . Normal Score range is 40 to 60. i. Ask user to enter his score.

ii. If it is below 40 to 60 range then print that score is low

iii. If it is above 60 then print that it is good otherwise print that it is normal

In [4]:

score = int(input('Enter your score: '))
if score>=60:
  print('Score is good')
elif score>40 and score<60:
  print('Score is normal') 
else:
  print('Score is low')

Enter your score: 55
Score is normal

4. After appearing in exam 10 times you got this result,

result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]

Using for loop figure out how many times you got Pass

In [6]:

result = ['Pass','Fail','Fail','Pass','Fail','Pass','Pass','Fail','Fail','Fail']
count = 0
for n in result:
  if n=='Pass':
    count = count+1
print(count)

4

Write a program that prints following shape.

![image.png]()

In [7]:
for i in range(5):
  for j in range(i):
    print("*",end="")
  print()
for i in range(5,0,-1):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*

6.Lets say you are running a 50 km race. Write a program that,

Upon completing each 10 km asks you "are you tired?"

If you reply "yes" then it should break and print "you didn't finish the race"

If you reply "no" then it should continue and ask "are you tired" on every km

If you finish all 50 km then it should print congratulations message

In [14]:
for distance in range (1, 51):
  if distance < 50 and distance % 1 == 0:
    print("are you tired?")
    reply = input("Enter Yes or No : ")
    if reply.lower () == "yes" :
      print("you didn't finish the race")
      break
    elif reply.lower() == "no":
      continue
    else:
      print("Invalid Input")
  if distance == 50:
    print("Congratulations !")

are you tired?
Enter Yes or No : No
are you tired?
Enter Yes or No : No
are you tired?
Enter Yes or No : Yes
you didn't finish the race

7. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [12]:


for i in range (1500,2701):
  if i%5 == 0 and i%7 == 0:
    print(i,end = ' ')

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

8. Print square of all numbers between 10 to 20 except even numbers

In [15]:

for i in range(10,21):
  if i%2 == 1:
    print(i**2, end=' ')

121 169 225 289 361

9. Your Marks for five Test(test1 to test5) looks like this,

marks_list = [65, 75, 2100, 95, 83]

Write a program that asks you to enter marks and program should tell you in which test that marks occurred. If marks is not found then it should print that as well.

In [16]:
marks_list = [65,75,2100,95,83]
n = int(input('Enter marks: '))
test = marks_list.index(n)+1
if n not in marks_list:
  print('Marks not found')
else:
  print('You got',n,'marks in test',test)

Enter marks: 95
You got 95 marks in test 4